body{
background:#0f172a;
font-family:Arial;
color:white;
text-align:center;
}

.container{
width:600px;
margin:auto;
margin-top:100px;
}

textarea{
width:100%;
height:150px;
padding:10px;
border-radius:10px;
}

button{
margin-top:15px;
padding:12px 25px;
background:#38bdf8;
border:none;
border-radius:8px;
font-size:18px;
}